.info-section {
  background-color: var(--dark-grey);
  position: relative;
  overflow: hidden;
}

/* Optional: Add a subtle decorative pattern or gradient */
.info-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(243, 114, 44, 0.05) 0%,
    transparent 70%
  );
  pointer-events: none;
}

.info-card-premium {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 35px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  height: 100%;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 2px solid rgba(37, 37, 37, 0.904);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-card-premium:hover {
  transform: translateY(-12px);
  border-color: #474747;
  box-shadow: 2px 2px 18px 2px rgba(221, 221, 221, 0.61);
}

.info-icon-wrapper {
  width: 65px;
  height: 65px;
  background: var(--giardino-gradient);
  color: white;
  border-radius: 50px; /* Squircle style */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  transition: all 0.3s ease;
}

.info-card-premium:hover .info-icon-wrapper {
  transform: rotate(0deg) scale(1.1);
}

.info-card-premium h4 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--dark-grey);
}

.info-card-premium p {
  color: #313131;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}
